html {
  background-color: #eff0f3;
  padding-right: 15px;
  padding-left: 15px;
}

footer {
  background-color: #eff0f3 !important;
}

.section {
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  margin: auto;
}

.name {
  border-bottom: 2px solid #403D39;
  text-align: center;
  display: block;
  color: #403D39;
  letter-spacing: 2px;
  font-size: 44px;
}

.title {
  color: #272343;
}

p {
  color: #2d334a;
}